.FoundWordsList {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  position: relative;

  height: var(--wg-draw-height);
  max-height: var(--wg-draw-height);

  overflow-y: scroll;

  transition: height 0.5s, width 0.5s;
}

.FoundWordsRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  width: var(--wg-draw-width);
  min-height: var(--tile-diam);
  height: var(--tile-diam);

  margin-left: var(--component-margin);
  margin-right: var(--component-margin);
  margin-bottom: var(--component-margin);

  transition: height 0.5s, width 0.5s;
}

.FoundWordsSpacer {
  width: var(--wg-draw-width);
  min-height: var(--component-margin);
  height: var(--component-margin);

  margin-left: var(--component-margin);
  margin-right: var(--component-margin);
}

.Placed {
  background-color: darkgray;
  color: gray;
}
