.FoundWordsList {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  position: relative;

  height: var(--wg-draw-height);
  max-height: var(--wg-draw-height);

  overflow-y: scroll;
}

.FoundWordsRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  width: var(--wg-draw-width);
  min-height: var(--tile-diam);
  height: var(--tile-diam);

  margin-left: var(--component-margin);
  margin-right: var(--component-margin);
  margin-bottom: var(--component-margin);

  overflow: hidden;
}
.FoundWordsRow.NonMobile {
  animation: growIn 0.5s;
}

.FoundWordsSpacer {
  width: var(--wg-draw-width);
  min-height: var(--component-margin);
  height: var(--component-margin);

  margin-left: var(--component-margin);
  margin-right: var(--component-margin);
}

.Placed {
  background-color: #bbbbbb;
  color: #555555;
}

.FoundWordsTile.NonMobile.Waiting {
  animation: delayAppearance 0.75s;
}

@keyframes growIn {
  0% {
    height: 0;
    min-height: 0;
  }
}

@keyframes delayAppearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
