.LetterCloud {
  display: flex;
  flex-direction: column;
  position: relative;

  width: var(--lc-draw-width);
  height: var(--lc-draw-height);
}

.LetterCloudBackground {
  position: absolute;
  left: calc(var(--component-margin) * -1);
  right: calc(var(--component-margin) * -1);
  top: calc(var(--component-margin) * -3);
  bottom: calc(var(--component-margin) * -3);

  z-index: -1;

  border-radius: 100vh;

  background-color: #ffffff14;
}

.LetterCloudHolder {
  position: relative;

  margin-top: var(--component-margin);
  margin-bottom: var(--component-margin);

  width: var(--lc-draw-width);
  height: var(--lc-draw-height);
}

.NetwordsTile.LCTile {
  width: var(--lc-tile-diam);
  height: var(--lc-tile-diam);
  font-size: var(--lc-font-size);
  background-color: var(--color-gray-main);
  color: var(--color-blue-main);
}
.LCTile.Clickable:hover {
  background-color: var(--color-gray-focus);
  color: var(--color-blue-focus);
}
.LCTile.Chosen {
  background-color: var(--color-blue-main);
  color: white;
  animation: toChosen 0.5s;
}
.LCTile.Chosen.Clickable:hover {
  background-color: var(--color-blue-focus);
  color: white;
}

@keyframes toChosen {
  50% {
    transform: scale(1.2);
  }
}
