.LetterCloud {
  display: flex;
  width: var(--lc-draw-width);
  height: var(--lc-draw-height);
  flex-direction: column;
  position: relative;
  margin-top: var(--component-margin);
}

.LCTile {
  background-color: var(--color-gray-main);
  color: var(--color-blue-main);
}
.LCTile.Clickable:hover {
  background-color: var(--color-gray-focus);
  color: var(--color-blue-focus);
}
.LCTile.Chosen {
  background-color: var(--color-blue-main);
  color: white;
}
.LCTile.Chosen.Clickable:hover {
  background-color: var(--color-blue-focus);
  color: white;
}
