.NWHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: var(--tile-diam);

  background-color: #00000040;
  color: white;
}

.NWHeader > p {
  margin-left: var(--component-margin);
}

.NWHeaderButtonRow {
  display: flex;
  flex-direction: row;
}

.NWHeaderButton {
  margin-right: var(--component-margin);
}

.HelpPopover {
  position: absolute;
  top: calc(var(--tile-diam) - var(--component-margin));
  right: calc(50% - var(--wg-draw-width) / 2);
  left: calc(50% - var(--wg-draw-width) / 2);

  z-index: 100;

  background-color: white;
  color: black;

  box-shadow: var(--material-shadow);
  padding-left: var(--component-margin);
  padding-right: var(--component-margin);
  border-radius: 4px;
}

.HelpPopover > p {
  font-size: calc(var(--tile-font-size) / 2);
}

.HelpPopoverX {
  position: absolute;
  top: var(--component-margin);
  right: var(--component-margin);
}

.NetwordsPurple {
  font-weight: bold;
  color: var(--color-purple-main);
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

.NetwordsBlue {
  font-weight: bold;
  color: var(--color-blue-main);
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

.Unhighlightable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
