.PCBRow {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: var(--component-margin);
  border-radius: calc(var(--pcbr-height) / 2);

  background-color: white;

  box-shadow: var(--material-shadow);
}

.PlacementControlButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--pcb-diam);
  height: var(--pcb-diam);
  margin-right: var(--tile-margin-horz);
  border-radius: calc(var(--pcb-diam) / 2);
  font-size: var(--pcb-font-size);

  transition: color 0.5s, background-color 0.5s, box-shadow 0.5s;
}

.ConfirmPlacementButton {
  background-color: var(--color-green-main);
  color: white;
}
.ConfirmPlacementButton.Clickable:hover {
  background-color: var(--color-green-focus);
}

.PlacementControlButton.CancelPlacementButton {
  margin-right: 0;

  background-color: var(--color-red-main);
  color: white;
}
.CancelPlacementButton.Clickable:hover {
  background-color: var(--color-red-focus);
}

.RotateButton {
  background-color: var(--color-yellow-main);
  color: black;
}
.RotateButton.Clickable:hover {
  background-color: var(--color-yellow-focus);
}
