.WordGrid {
  position: relative;

  width: var(--wg-draw-width);
  height: var(--wg-draw-height);

  border-radius: calc(var(--tile-diam) / 2);

  margin-top: calc(var(--tile-diam) + var(--tile-margin-vert));
  margin-bottom: var(--component-margin);
  margin-left: calc(var(--tile-diam) + var(--tile-margin-horz));
  margin-right: calc(var(--tile-diam) + var(--tile-margin-horz));

  transition: box-shadow 0.5s;
}

.WordGrid.ChoosingBoardSpace {
  box-shadow: var(--suggestion-shadow);
}

.WordGrid > svg {
  width: var(--wg-draw-width);
  height: var(--wg-draw-height);
}

.WGTile.WithLetter {
  background-color: var(--color-blue-main);
  color: white;
}

.WGTile.WithLetter.Clickable:hover {
  background-color: var(--color-blue-focus);
  color: white;
}

.WGTile.Junction {
  border-width: var(--tile-shadow-width);
  border-style: solid;
  border-color: #00000050;
}
