.WordGrid {
  position: relative;
  width: calc(
    (var(--wg-tile-width) + 0.5) * var(--tile-diam) +
      (var(--wg-tile-width) - 0.5) * var(--tile-margin)
  );
  height: calc(
    var(--wg-tile-height) * var(--tile-diam) + (var(--wg-tile-height) - 1) *
      var(--tile-margin)
  );
  border-radius: calc(var(--tile-diam) / 2);
  margin-top: calc(var(--tile-diam) - var(--tile-margin));
  margin-bottom: var(--tile-margin);
  transition: box-shadow 0.5s, width 0.5s;
}

.WordGrid.ChoosingBoardSpace {
  box-shadow: var(--suggestion-shadow);
}

.WGTile {
  background-color: var(--color-gray-main);
}

.WGTile.WithLetter {
  background-color: var(--color-blue-main);
  color: white;
}

.WGTile.Junction {
  border-width: var(--tile-shadow-width);
  border-style: solid;
  border-color: #00000050;
}
