.DirectionPicker,
.CancelDirPickingButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(var(--tile-diam) * 2 / 3);
  height: calc(var(--tile-diam) * 2 / 3);
  font-size: calc(var(--tile-diam) * 4 / 9);
  margin: calc(var(--tile-diam) * 1 / 6);
  border-radius: 100vh;

  box-shadow: var(--material-shadow);

  transition: background-color 0.5s;

  z-index: 2;
}

.DirectionPicker {
  background-color: var(--color-yellow-main);
  color: black;

  z-index: 2;
}
.DirectionPicker:hover {
  background-color: var(--color-yellow-focus);
}

.CancelDirPickingButton {
  background-color: var(--color-red-main);
  color: white;

  z-index: 2;
}
.CancelDirPickingButton:hover {
  background-color: var(--color-red-focus);
}
