:root {
  --suggestion-shadow: 0 0 0 var(--tile-shadow-width) var(--color-blue-trans);
  --material-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}

body,
#root {
  width: 100%;
  height: var(--nw-max-height);
}

.Clickable {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.NWRowOfCols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: var(--nw-max-height-sans-header);
  height: var(--nw-max-height-sans-header);
  max-height: var(--nw-max-height-sans-header);
  overflow: hidden;
}

.NWCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: var(--nw-max-height-sans-header);
  height: var(--nw-max-height-sans-header);
  max-height: var(--nw-max-height-sans-header);
  overflow: hidden;
}

.VertLine {
  width: 1px;
  height: var(--nw-max-height);
  background-color: rgba(0, 0, 0, 0.16);
}
