:root {
  --suggestion-shadow: 0 0 0 var(--tile-shadow-width) var(--color-blue-trans);
}

.Clickable {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
